.menu{
  font-size: 20px;
  color: #3d468e;
}

.menuItem {
  text-transform: capitalize;
  padding: 10px 10px;
  color: #3d468e;
}

.active{
  font-weight: bold;
}

.box{
  padding: 10px 20px;
  border: 2px solid #e2e2e2;
  margin: 5px;
}

.pagination{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.btn{
  border: 1px solid #e6e6e6;
  padding: 10px 15px;
  margin-inline-end: 15px;
  font-weight: 900;
  color: #3d468e;
}
